header
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #1F3F5F;
}
h1
{
	text-align: center;
	text-decoration: underline;
	margin-bottom: -8px;
}
h3
{
	border-radius: 10px;
	background-color: #AFCFEF;
	color: #1F3F5F;
	padding-left: 50px;
	padding-top: 3px;
	padding-bottom: 3px;
}
a
{
	color:black;
}
table
{
	margin: auto;
}
em
{
	font-style: italic;
}
.page
{
	display: flex;
	flex-direction: column;
	font-family: Arial;
	width: 700px;
	margin: auto;
	padding: 10px;
	border: #8FAFCF solid 5px;
	border-radius: 15px;
	background-image: url("bandeau.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}
.nom
{
	margin-top: -4px;
	margin-bottom: 6px;
}
.identite
{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	background-color: #AFCFEF;
}
.photo
{
	border: #8FAFCF solid 5px;
	border-radius: 10px;
	margin-left: 25%;
}
.bandeau
{
	
}
.colonne1
{
	width:18%;
	padding-bottom: 10px;
}
.colonne2
{
	width:14%;
	text-align: right;
	padding-right: 10px;
}
.colonne3
{
	padding-bottom: 10px;
	width: 50%;
}
.logo
{
	float: right;
}
.exp
{
	padding-bottom: 10px;
	text-align: justify;
}